In [5]:
#Kaam pip install plotly

###how to put this figure in ppt file to see it correctly


import pandas as pd

In [9]:
data =pd.read_csv(r"C:\Users\Shafique\Desktop\jupyter_notebook\Chilla_data2_for_plots.csv")

In [10]:
data.head()

,Gender,Location,Age,Qualification_completed,field_of_study,Purpose_for_chilla,What are you?,Blood group,Which mobile sim do you use,Prepaid or Postpaid,...,Your favorite programming language?,Marital Status?,Are you Vaccinated?,Where do you live?,Research/Working experience (Float/Int) years,Age (years)-Float/Int,Your Weight in kg? (float),Height in cm? Freelancer- (Float),"How many hours you code a day? (int) e.g: 5,4,3",Light kitni der band hti hy? int
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Male,Pakistan,36-40,Masters,Natural Sciences,to boost my skill set,Unemplyed,B+,U-fone,Prepaid,...,Python,Yes,Yes,Urbun,5,38.0,77.0,179.0,3.0,2.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Male,Pakistan,26-30,Bachelors,CS/IT,to boost my skill set,Student,B+,U-fone,Prepaid,...,Python,No,Yes,Urbun,1,25.0,53.6,178.0,2.0,6.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.describe()

,Age (years)-Float/Int,Your Weight in kg? (float),Height in cm? Freelancer- (Float),"How many hours you code a day? (int) e.g: 5,4,3",Light kitni der band hti hy? int
count,375.000000,375.000000,375.000000,375.000000,375.000000
mean,27.576933,69.321147,162.679282,2.976027,3.618667
std,7.224460,16.264434,172.246844,2.088115,7.407986
min,0.000000,7.000000,0.000000,0.000000,0.000000
25%,24.000000,58.050000,158.000000,2.000000,0.000000
50%,27.000000,68.300000,169.000000,3.000000,2.000000
75%,31.000000,78.500000,175.225000,4.000000,4.000000
max,90.000000,161.000000,1661.160000,18.000000,72.000000

In [ ]:
dara fadf =